@media only screen and (min-width: 1024px) and (max-width: 1366px)  {
  .new-tweet {
     width: 90%;
     margin: auto;
  }
  #textarea {
    width: 100%;
  }
  body {
    width: 100%;
  }
  #nav-bar {
    width: 100%;
  }
  .compose-button-align {
    margin-right: 0px;
  }
  .container {
    width: 60%;

  }
  #posted-tweet-main {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px)  {
  .new-tweet {
     width: 91%;
  }
  #textarea {
    width: 100%;
  }
  body {
    width: 100%;
  }
  #nav-bar {
    width: 100%;
  }
  .compose-button-align {
    margin-right: 45px;
  }
  .container {
    width: 88%;
  }
  #posted-tweet-main {
    width: 100%;
  }
}


@media screen and (min-width: 320px) and (max-width: 567px) {
  .new-tweet {
    width: 90%;
    margin: 0 auto;
  }
  #textarea {
    width: 100%;
  }

  .user-name {
    font-size: 1em;
  }

  #nav-bar {
    width: 100%;
    padding: 0;
  }

.compose-button {
  margin-left: 3px;
  margin-right: 5px;
  margin-top: 7px;
}
  .container {
    width: 100%;
  }
  #posted-tweet-main {
    width: 90%;
    margin: 1em auto;
  }
  .posted-tweet {
    margin: 1em auto;
  }
  .handle {
    float: right;
}
  .username-and-nickname {
    display: flex;
    flex-direction: column;
  }
  .article-textarea {
    margin-top: 15px;
  }
}

@media only screen and (min-width: 568px) and (max-width: 700px) {
  .compose-button {
    margin-right: 45px;
  }
}
