#nav-bar {
  display: flex;
  align-items: center;
  top: 0px;
  margin: 0px;
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  font-color: #e8fdff;
  padding:0 2em 0 2em;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  margin-top: 25px;
  color: #ffffff;
  font-size: 30px;
}


.compose-button-align{
  margin-left: auto;
}

.compose-button{
  background-color: white;
  color: #00a087;
  height: 40px;
  border-radius: 5px;
  margin-left: 40px;
}


.compose-button:hover{
  background-color: #40E0D0;
  color: white;
}
